*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000000;
    overflow: hidden;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #51b870;
}

.container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1){
    top: 0;
    left:0;
    transform:translate(0, 0);
    border-radius: 0;
    width:100%;
    height:100%;
}

.slide .item:nth-child(2){
    left: 68%;

}
.slide .item:nth-child(3){
    left: calc(68% + 220px);

}
.slide .item:nth-child(4){
    left: calc(68% + 440px);
}
/*here n =  0, 1, 2, 3,...*/
.slide .item:nth-child(n + 5){
    left: calc(68% + 660px);
    opacity: 0;
}

.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: "Times New Roman" sans-serif;
    display: none;

}
/*fonts--<*/
.slide .item:nth-child(1) .content{
    display: block;
}
@font-face {
    font-family: 'Bridgers Brush';
    src: url('fonts/Bridgers Brush.ttf') format('opentype');
}
/*
@font-face {
    font-family: 'a Artlazies';
    src: url('fonts/aArtlazies.ttf') format('opentype');
}

@font-face {
    font-family: 'Arthas';
    src: url('fonts/Arthas.ttf') format('opentype');
}

@font-face {
    font-family: 'Smasher';
    src: url('fonts/Smasher.otf') format('opentype');
}

@font-face {
    font-family: 'Art';
    src: url(fonts/Art.otf) format('opentype');
}
*/
.content .name{
    font-family:'Times New Roman' sans-serif;
    position: relative;
    color: rgb(41, 118, 99);
    font-size: 50px;
    text-transform:uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}
/*Sombra de la etiqueta*/
.content .shadow-text{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 130px;
    font-family: "Bridgers Brush",sans-serif;
    z-index: -1;
    transform: translate(-50px, -45px);
    color: rgb(224, 237, 233);
}

.content .des{
    font-weight: bold;
    color: rgb(224, 237, 233);
    font-family: 'Times New Roman', sans-serif;
    text-align:justify;
    position: absolute;
    font-size: 28px;
    margin-top: 35px; 
    right: 50px; 
    position: relative;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}
@keyframes animate{
    font{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 5px;
    border: none;
    transition: 0.3s;
    background-color: rgb(41, 118, 99);
}

.button button:hover{
    background: rgb(75, 112, 75);
    color: #fff;
}